<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    
     <main class="dashboard">
        <nav class="control-strip">
            <ul>
                <li class="brand"><h1>app dashboard</h1></li>
                <li class="user-controls">
                    <img src="assets/svgs/help.svg" alt="">
                    <img src="assets/svgs/email.svg" alt="">
                    <img src="assets/svgs//settings.svg" alt="">
                </li>
            </ul>
        </nav>
        <h1 style="font-weight: bolder; font-size: xx-large;">Welcome to App's Dashboard</h1>




     </main>
   
</body>
</html>